@import './variaveis.css';
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: rgb(0, 255, 242);
  color: white;
}
header button {
  background-color: red;
  color: white;
  margin-left: 20rem;
}
header button:hover {
  background-color: blue;
}
header p {
  color: black;
}
header h1 {
  color: purple;
}


.contato{
  
}